
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.body{
text-align: center !important
}
.bg-clr{
  background-color: #5a5858 !important
}
.img-sz{
  width: 30px;
  height: 30px;
}
.productname{
  font-size: 13px;
    margin-left: 9px;
}
.productprice{
  font-size: 13px;
 margin-left: 10px;
}
.cls{
  margin-right: 10px;
}